In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [3]:
# import the first 10k rows of the auth file
header = ["Time", "SourceUserDomain", "DestUserDomain", "SourceComputer", "DestComputer", "AuthType", "LogonType", "AuthOrientation", "SuccessFailure"]
authTenK = pd.read_csv('./Data/CSVs/auth10k.csv', header=None)
authTenK.head()

,0,1,2,3,4,5,6,7,8
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success

In [4]:
# import the first 50k rows of the auth file
authFiftyK = pd.read_csv('./Data/CSVs/auth50k.csv', header=None)
authFiftyK.head()

,0,1,2,3,4,5,6,7,8
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success

In [5]:
# import the first 100k rows of the auth file
authHundredK = pd.read_csv('./Data/CSVs/auth100k.csv', header=None)
authHundredK.head()

,0,1,2,3,4,5,6,7,8
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success

In [7]:
# rename the columns in DNS lookup
authTenK.columns = header
authFiftyK.columns= header
authHundredK.columns = header
authTenK.head()

,Time,SourceUserDomain,DestUserDomain,SourceComputer,DestComputer,AuthType,LogonType,AuthOrientation,SuccessFailure
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success